$primaryFontColor: #4A4D4E;
$greyBackgroundColor: #494d4e;
$darkGreyColor: #333;
$greySectionBackgroundColor: #ebebeb;
$light: #fff;
$red: #e60000;

@import "./components/default";
@import "./components/header";
@import "./components/hero";
@import "./components/buttons";
@import "./components/timeline";
@import "./components/headings";
@import "./components/event";
@import "./components/presenters";
@import "./components/topics";
@import "./components/checkbox";
@import "./components/register";
@import "./components/desktop";
@import "./components/mobile";
@import "./components/footer";
@import "./components/safari";
@import url("https://images.response.vodafone.com/Web/VodafoneGroupPLC/%7b62cd5065-f5d1-4728-9cfc-f5d9071cd81c%7d_vodafone_fonts-formatted.css");















