.thank-you .container{
    max-width: 750px;
    padding-bottom: 2em !important;
}

.thank-you{
    @extend .font300;
    @extend .centered-text;
    color: $light;
    background-color: $greyBackgroundColor;
}

#hero picture img, #hero img{
    display: block;
}