@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance: none) {
        .event-item div+div{
            margin-left: 4em;
        }

        select{
            overflow: hidden;
            border: none;
            background-color: $light;
            padding: 11px !important;
            border: 0;
            border-radius: 0;
            -webkit-appearance: none;
        }

        @media (max-width: 840px){
            .nav-items li + li{
                margin-top: 2.7em !important;
            }
            .event-item div+div{
                margin-left: 0;
            }
        }
    }
  }

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
@supports (gap: 2.7em){
    .nav-items{
        gap: 2.7em;
    }
    .nav-items li + li{
        margin-top: 0 !important;
    }
}
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    @supports (gap: 4em){
        .event-item div+div{
            margin-left: 0 !important;
        }
    }
}